<!DOCTYPE HTML>
<!--
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    -->
<html>
    <head>
        {% load static %}
        <title>Clothes to You</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static '/css/main.css' %}" />
    </head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="{% url 'index' %}">Clothes to You</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url 'index' %}">首頁</a></li>
                <li><a href="{% url 'login' %}">會員登入</a></li>
                <li><a href="{% url 'register' %}">帳號註冊</a></li>
            </ul>
        </nav>
        <!-- Banner -->
        <section id="banner">
            <div class="inner">
                <h1>Clothes to You</h1>
                <form action="{% url 'search' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-8 col-12-medium">
                            <input id="search" type="search" placeholder=" *(๑•̀ㅂ•́)و⚡" name="search">
                        </div>
                        <div class="col-1 col-12-medium">
                            <input type="file" id="image" name="image" accept="image/png, image/jpeg" enctype="multipart/form-data">
                        </div>
                        <div class="col-3 col-12-medium">
                            <input type="submit" value = "Search">
                        </div>
                    </div>
                </form>
                <p>一個真正懂你的服飾網站</p>
            </div>
            <video autoplay loop muted playsinline src="{% static 'images/banner.mp4' %}"></video>
        </section>
        <!-- Highlights -->
        <section class="wrapper">
            <div class="inner">
                <header class="special">
                    <h2>為什麼選擇Clothes to You</h2>
                    <p>每一件服裝都經過我們合作夥伴的精心設計，質量上層，做工精細。</p>
                </header>
                <div class="highlights">
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '上衣類' %}"><img href="{% url 'category' '上衣類' %}" src="{% static 'images/001.png' %}" alt=""  height="200" width="200"/>
                                <br>上衣類</a>
                            </header>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '襯衫類' %}"><img href="{% url 'category' '襯衫類' %}" src="{% static 'images/002.png' %}" alt=""  height="200" width="200"/>
                                <br>襯衫類</a>
                            </header>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '外套類' %}"><img href="{% url 'category' '外套類' %}" src="{% static 'images/003.png' %}" alt=""  height="200" width="200"/>
                                <br>外套夾克</a>
                            </header>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '下身類' %}"><img href="{% url 'category' '下身類' %}" src="{% static 'images/004.png' %}" alt=""  height="200" width="200"/>
                                <br>下身類</a>
                            </header>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '鞋子' %}"><img href="{% url 'category' '鞋子' %}" src="{% static 'images/005.png' %}" alt=""  height="200" width="200"/>
                                <br>鞋子</a>
                            </header>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <header>
                                <a href="{% url 'category' '配件' %}"><img href="{% url 'category' '配件' %}" src="{% static 'images/006.png' %}" alt=""  height="200" width="200"/>
                                <br>配件</a>
                            </header>
                        </div>
                    </section>
                </div>
                <header class="special">
                    <h2>最新商品</h2>
                </header>
                <div class="highlights">
                    {% for item in items %}
                    <section>
                        <div class="content">
                            <header>
							    <img height="300" width="auto" src='{% if item.sku.Picture %}{{item.sku.Picture.url}}{% else %}{% static "images/pic01.jpg" %}{% endif %}' alt="商品圖片" id="show{{Sku.Color}}" />
							    <h3>
								    <!-- &emsp;&emsp;{{ item.Name }}<br> -->
								    <a href="{{ item.product.get_absolute_url }}">&emsp;&emsp;{{ item.Name }}<br>&emsp;&emsp;NT$ {{ item.Price }}</a>
							    </h3>
							    <!--
                        	    <label>&emsp;&emsp;商品標籤 {{product.Sale_Category}}</label>
                        	    -->
                            </header>
                        </div>
                    </section>
                    {% if forloop.counter == 9 %} {{break}} {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>
        <!-- List all items -->
        <!-- CTA -->
        <section id="cta" class="wrapper">
            <div class="inner">
                <h2>我們的願景</h2>
                <p>在疫情期間由於大部分的消費者都被迫待在家裡，依靠人流賺錢的店家和擁有實體店面的店家都受到了很大的衝擊，那些無法迅速轉型的商店都逐漸的消失。沒有人流的市場不代表著需求消失了而代表找不到的管道。這次專題的發展動機就是為了找出這個管道，好讓擁有實體店面的店家在疫情期間也可以滿足消費者的需求，並且在疫情結束之後也可以繼續的使用這個管道。
                    在食、衣、住、行、育、樂，我們打算先從"衣"開始做起。
                </p>
            </div>
        </section>
        <!-- Testimonials -->
        <section class="wrapper">
            <div class="inner">
                <header class="special">
                    <h2>我們的成員</h2>
                    <p>我們是一群來自臺灣科技大學資訊管理系的學生</p>
                </header>
                <div class="testimonials">
                    <section>
                        <div class="content">
                            <blockquote>
                                <p>
                                    <負責的項目或其他補充>
                                </p>
                            </blockquote>
                            <div class="author">
                                <div class="image">
                                    <img src="{% static 'images/avatar01.png' %}" alt="" />
                                </div>
                                <p class="credit">- <strong>同學姓名</strong> <span>NTUST - MIS</span></p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <blockquote>
                                <p>
                                    <負責的項目或其他補充>
                                </p>
                            </blockquote>
                            <div class="author">
                                <div class="image">
                                    <img src="{% static 'images/avatar01.png' %}" alt="" />
                                </div>
                                <p class="credit">- <strong>同學姓名</strong> <span>NTUST - MIS</span></p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <blockquote>
                                <p>
                                    <負責的項目或其他補充>
                                </p>
                            </blockquote>
                            <div class="author">
                                <div class="image">
                                    <img src="{% static 'images/avatar01.png' %}" alt="" />
                                </div>
                                <p class="credit">- <strong>同學姓名</strong> <span>NTUST - MIS</span></p>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="content">
                            <blockquote>
                                <p>
                                    <負責的項目或其他補充>
                                </p>
                            </blockquote>
                            <div class="author">
                                <div class="image">
                                    <img src="{% static 'images/avatar01.png' %}" alt="" />
                                </div>
                                <p class="credit">- <strong>同學姓名</strong> <span>NTUST - MIS</span></p>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>系統目的</h3>
                        <p>我們的專題系統的目的主要在於<br>
                            1.減少在外面的人流<br>
                            2.改良網上的購物體驗<br>
                            3.找尋商品的客製化<br>
                            4.減少仿冒商品<br>
                            5.增加商家的所得<br>
                            6.減少商家的成本<br>
                            7.有效利用商家的人力資源
                        </p>
                    </section>
                    <section>
                        <h4>其他服務</h4>
                        <ul class="alt">
                            <li><a href="#">首頁</a></li>
                            <li><a href="#">客服中心</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>關注我們</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Clothes to You <a>國立臺灣科技大學</a>, 資訊管理系 <br>
                    &copy; 模板來源 <a href = "https://templated.co/">templated.co</a>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %} "></script>
        <script src="{% static 'js/breakpoints.min.js' %} "></script>
        <script src="{% static 'js/util.js' %} "></script>
        <script src="{% static 'js/main.js' %} "></script>
    </body>
</html>