<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
{% load static %}
<html>
	<head>
		<title>Clothes to You</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">
		<!-- Header -->
		<header id="header">
			<a class="logo" href="{% url 'index' %}">Clothes to You</a>
		</header>
		<!-- Nav -->

		<!-- Heading -->
		<div id="heading" >
			<h1>註冊成功</h1>
		</div>
			<section id="main" class="wrapper">
            <div class="inner">
            <div class="content">
				<div><a href="{% url 'index' %}">返回使用者首頁</a></div>
				<div><a href="{% url 'sindex' %}">返回供應商首頁</a></div>
			</div>
			</div>
			</section>
    </body>
</html>