<!DOCTYPE HTML>
<!--
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    -->
{% load static %}
<html>
	<head>
		<title>Clothes to You</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static '/css/main.css' %}" />
	</head>
	<body class="is-preload">
		<!-- Header -->
        <header id="header">
            <a class="logo" href="{% url 'sindex' %}">Clothes to You</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
		<!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url 'sindex' %}">首頁</a></li>
                <li><a href="{% url 'sprofile' %}">後臺管理</a></li>
                <li><a href="{% url 'addproduct' %}">上架商品</a></li>
                <li><a href="{% url 'slogout' %}">登出</a></li>
            </ul>
        </nav>
        <!-- Heading -->
        <div id="heading" >
            <h1>商品上架</h1>
        </div>
        <!-- Main -->
        <section id="main" class="wrapper">
            <div class="inner">
                <div class="content">
                    <div class="row">

                        <div class="col-6 col-12-medium">
                            <form action="{% url 'addproduct' %}" method="post">{% csrf_token %}

                                <div> <input type="text" name="product_name" id="product_name" placeholder="商品名稱"> </div>
                                <div> <input type="text" name="product_price" id="product_price" placeholder="售價"> </div>
                                <select name="genre" id="genre">
                                    <option value="">Genre</option>
                                    <option value="MEN">男士</option>
                                    <option value="WOMEN">女士</option>
                                    <option value="KIDS">孩童</option>
                                    <option value="BABY">嬰幼兒</option>
                                    <option value="Pregnant">孕婦</option>
                                </select>
                                <select name="category" id="category">
                                    <option value="">Category</option>
                                    <option value="top">上衣類</option>
                                    <option value="shirt">襯衫類</option>
                                    <option value="undies">內衣類</option>
                                    <option value="coat">外套類</option>
                                    <option value="pants">下身類</option>
                                    <option value="accessories">配件類</option>
                                    <option value="dress">洋裝類</option>
                                    <option value="sport">運動類</option>
                                    <option value="shoes">鞋類</option>
                                </select>
                                <div> <input type="text" name="product_sales_category" id="product_sales_category" placeholder="Sales Category"> </div>
                                <label>尺寸</label>
                                    <div class="col-2 col-12-small">
                                        <input type="checkbox" id="size_xs" value="XS" name="size">
                                        <label for="size_xs">XS</label>

                                        <input type="checkbox" id="size_s" value="S" name="size">
                                        <label for="size_s">S</label>

                                        <input type="checkbox" id="size_m" value="M" name="size">
                                        <label for="size_m">M</label>

                                        <input type="checkbox" id="size_l" value="L" name="size">
                                        <label for="size_l">L</label>

                                        <input type="checkbox" id="size_xl" value="XL" name="size">
                                        <label for="size_xl">XL</label>

                                        <input type="checkbox" id="size_xxl" value="XXL" name="size">
                                        <label for="size_xxl">XXL</label>
                                    </div>
                                <textarea name="textarea" id="product_description" placeholder="" rows="6"></textarea>
                            </form>
                            <div>{{warn_1}}</div>
                        </div>
                        <div class="col-6 col-12-medium">
                            <div class="col-6 col-12-small">
                                <form>
                                <label>顏色</label>
                                    <div class="col-6 col-12-small">
                                        <input type="checkbox" id="color_red" name="red">
                                        <label for="color_red">紅色</label>
                                        <input type="file" id="image_red" name="image_red" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_orange" name="orange">
                                        <label for="color_orange">橙色</label>
                                        <input type="file" id="image_orange" name="image_orange" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_yellow" name="yello">
                                        <label for="color_yellow">黃色</label>
                                        <input type="file" id="image_yellow" name="image_yellow" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_pink" name="pink">
                                        <label for="color_pink">粉紅色</label>
                                        <input type="file" id="image_pink" name="image_pink" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_cyan_blue" name="cyan_blue">
                                        <label for="color_cyan_blue">青色</label>
                                        <input type="file" id="image_cyan_blue" name="image_cyan_blue" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_blue" name="blue">
                                        <label for="color_blue">藍色</label>
                                        <input type="file" id="image_blue" name="image_blue" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_purple" name="purple">
                                        <label for="color_purple">紫色</label>
                                        <input type="file" id="image_purple" name="image_purple" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_green" name="green">
                                        <label for="color_green">綠色</label>
                                        <input type="file" id="image_green" name="image_green" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_gray" name="gray">
                                        <label for="color_gray">灰色</label>
                                        <input type="file" id="image_gray" name="image_gray" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_black" name="black">
                                        <label for="color_black">黑色</label>
                                        <input type="file" id="image_black" name="image_black" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_white" name="white">
                                        <label for="color_white">白色</label>
                                        <input type="file" id="image_white" name="image_white" accept="image/png, image/jpeg" enctype="multipart/form-data">

                                        <input type="checkbox" id="color_brown" name="brown">
                                        <label for="color_brown">咖啡色</label>
                                        <input type="file" id="image_brown" name="image_brown" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                    </div>
                                </form>
                            </div>
                        </div>

                            <!--
                            <label>請選擇商品圖片</label>
                            <form action = "" method = "post" enctype="multipart/form-data"> {% csrf_token %}
                                <input type="file" id="image_red" name="image_red" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_orange" name="image_orange" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_yellow" name="image_yellow" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_pink" name="image_pink" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_cyan_blue" name="image_cyan_blue" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_blue" name="image_blue" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                <input type="file" id="image_purple" name="image_purple" accept="image/png, image/jpeg" enctype="multipart/form-data">                                    <input type="file" id="image_green" name="image_green" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                    <input type="file" id="image_gray" name="image_gray" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                    <input type="file" id="image_black" name="image_black" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                    <input type="file" id="image_white" name="image_white" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                    <input type="file" id="image_brown" name="image_brown" accept="image/png, image/jpeg" enctype="multipart/form-data">
                                </form>
                                -->
                        <div><input type="submit" value="確認上架"></div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>系統目的</h3>
                        <p>我們的專題系統的目的主要在於<br>
                            1.減少在外面的人流<br>
                            2.改良網上的購物體驗<br>
                            3.找尋商品的客製化<br>
                            4.減少仿冒商品<br>
                            5.增加商家的所得<br>
                            6.減少商家的成本<br>
                            7.有效利用商家的人力資源
                        </p>
                    </section>
                    <section>
                        <h4>其他服務</h4>
                        <ul class="alt">
                            <li><a href="{% url 'sindex' %}">首頁</a></li>
                            <li><a href="#">客服中心</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>關注我們</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Clothes to You <a>國立臺灣科技大學</a>, 資訊管理系 <br>
                    &copy; 模板來源 <a href = "https://templated.co/">templated.co</a>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>