<!DOCTYPE HTML>
<!--
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    -->
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <title>Clothes to You</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="{% url 'index' %}">Clothes to You</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url 'index' %}">首頁</a></li>
                <li><a href="{% url 'profile' %}">會員中心</a></li>
                <Li><a href="{% url 'mycart' %}">購物車</a></Li>
                <li><a href="{% url 'logout'%}">登出</a></li>
            </ul>
        </nav>
        <div id="heading">
            <h1>購物車</h1>
        </div>
        <section id="main" class="wrapper">
            <div class="inner">
                <form action="">
                    <div class="row">
                        <div class="col-8 col-12-medium">
                            <input id="search" type="search" placeholder=" *(๑•̀ㅂ•́)و⚡" name="search">
                        </div>
                        <div class="col-2 col-12-medium">
                            <input type="file" id="image" name="image" accept="image/png, image/jpeg" enctype="multipart/form-data">
                        </div>
                        <div class="col-2 col-12-medium">
                            <input type="submit" value = "Search">
                        </div>
                    </div>
                </form>
                <div class="content">
                    <form method="post" action="{% url 'checkout' %}">{% csrf_token %}
                        {% for supplier in suppliers %}
                        <div>{{supplier.C_Name}}</div>

                        <table>
                            <tr align="center" valign="top">
                                <td>勾選</td>
                                <td>商品圖片</td>
                                <td>名稱</td>
                                <td>尺寸</td>
                                <td>數量</td>
                                <td>單價</td>
                                <td>保留/移除</td>
                            </tr>

                                {% for item in items %}
                                    {% if item.Supplier == supplier %}
                                        <tr align="center" valign="top">
                                    <td>
                                        <input type="checkbox" id="{{item.item.id}}" name="want2buy" value="{{item.item.id}}" onchange = "totalprice()">
                                        <label for="{{item.item.id}}"></label><br>
                                    </td>
                                    <td><img src="{{item.SKU.Picture.url}}" alt="" height="160" width="auto" id="show_{{item.item.id}}" /></td>
                                    <td valign="top"><a href="{% url 'productdetail' item.Product.ID %}">{{ item.Product.Name }} - ({{ item.SKU.Color }})</a></td>

                                    <td valign="top">
                                        <select name="size_{{item.item.id}}" id="size_{{item.item.id}}">
                                            {% for size in item.sizes%}
                                                {% if size == item.Stored.Size %}
                                                    <option value={{size}} selected>{{size}}</option>
                                                {% else %}
                                                    <option value={{size}} >{{size}}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td><input type="number" min="1" max="10" name="quantity" id="quantity" placeholder="數量" value="{{item.item.Quantity}}" onchange = "totalprice()"></td>
                                    <td valign="top" id="Price">{{item.Product.Price}}</td>
                                    <td><input type="button" value="移除商品" onclick="location.href='{% url 'remove_item' item.item.id %}'"></td>
                                </tr>
                                    {% endif %}


                            {% endfor %}



                        </table>

                      <label id = "total_sum">總金額：NT$ 0元</label>
                      <div> <input type="submit" value="前去結帳" style="float:right> </div>
                        {% endfor %}
                    </form>

                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>系統目的</h3>
                        <p>我們的專題系統的目的主要在於<br>
                            1.減少在外面的人流<br>
                            2.改良網上的購物體驗<br>
                            3.找尋商品的客製化<br>
                            4.減少仿冒商品<br>
                            5.增加商家的所得<br>
                            6.減少商家的成本<br>
                            7.有效利用商家的人力資源
                        </p>
                    </section>
                    <section>
                        <h4>其他服務</h4>
                        <ul class="alt">
                            <li><a href="{% url 'index' %}">首頁</a></li>
                            <li><a href="#">客服中心</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>關注我們</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Clothes to You <a>國立臺灣科技大學</a>, 資訊管理系 <br>
                    &copy; 模板來源 <a href = "https://templated.co/">templated.co</a>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script>
            function totalprice() {
                var total = document.getElementById('Price').textContent * document.getElementById('quantity').value;
                document.getElementById('total_sum').innerText = "總金額：NT$ " + total + "元";
            }
        </script>
    </body>
</html>