<!DOCTYPE HTML>
<!--
    Industrious by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
    -->
<html xmlns="http://www.w3.org/1999/html">
    <head>
        {% load static %}
        <title>Clothes to You</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    </head>
    <body class="is-preload">
        <!-- Header -->
        <header id="header">
            <a class="logo" href="{% url 'index' %}">Clothes to You</a>
            <nav>
                <a href="#menu">Menu</a>
            </nav>
        </header>
        <!-- Nav -->
        <nav id="menu">
            <ul class="links">
                <li><a href="{% url 'index' %}">首頁</a></li>
                <li><a href="{% url 'profile' %}">會員中心</a></li>
                <Li><a href="{% url 'mycart' %}">購物車</a></Li>
                <li><a href="{% url 'logout'%}">登出</a></li>
            </ul>
        </nav>
        <div id="heading" >
            <h1>搜尋結果</h1>
        </div>
        <section id="main" class="wrapper">
            <div class="inner">
                <form action="">
                    <div class="row">
                        <div class="col-8 col-12-medium">
                            <input id="search" type="search" placeholder=" *(๑•̀ㅂ•́)و⚡" name="search">
                        </div>
                        <div class="col-2 col-12-medium">
                            <input type="file" id="image" name="image" accept="image/png, image/jpeg" enctype="multipart/form-data">
                        </div>
                        <div class="col-2 col-12-medium">
                            <input type="submit" value = "Search">
                        </div>
                    </div>
                </form>
                <div class="content">
                    <div class="row">
                        <div class="col-3 col-12-medium">
                            <h3>篩選器</h3>
                            <h4>Genre</h4>
                            <h4>Category</h4>
                            <h4>品牌</h4>
                            <h4>價格範圍</h4>
                            <h4>尺寸範圍</h4>
                            <h4>運送方式</h4>
                            <h4>付款方式</h4>
                        </div>
                        <div class ="col-9 col-12-medium">
                            <form action="" method="post">{% csrf_token %}
                                <table>
                                    <tr align="center" valign="top">
                                        <td>商品圖片</td>
                                        <td>商品名稱</td>
                                        <td>商品Genre</td>
                                        <td>商品Category</td>
                                        <td>商品售價</td>
                                    </tr>
                                    {% for product in products%}
                                    <tr align="center" valign="top">
                                        <td><img src= alt="" height="300" width="200" href='#'/></td>
                                        <td valign="top">{{product.Name}}</td>
                                        <td valign="top">{{product.Genre}}</td>
                                        <td valign="top">{{product.Category}}</td>
                                        <td valign="top">NT$ {{product.Price}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <div class="content">
                    <section>
                        <h3>系統目的</h3>
                        <p>我們的專題系統的目的主要在於<br>
                            1.減少在外面的人流<br>
                            2.改良網上的購物體驗<br>
                            3.找尋商品的客製化<br>
                            4.減少仿冒商品<br>
                            5.增加商家的所得<br>
                            6.減少商家的成本<br>
                            7.有效利用商家的人力資源
                        </p>
                    </section>
                    <section>
                        <h4>其他服務</h4>
                        <ul class="alt">
                            <li><a href="{% url 'index' %}">首頁</a></li>
                            <li><a href="#">客服中心</a></li>
                        </ul>
                    </section>
                    <section>
                        <h4>關注我們</h4>
                        <ul class="plain">
                            <li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
                            <li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
                            <li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
                            <li><a href="#"><i class="icon fa-github">&nbsp;</i>Github</a></li>
                        </ul>
                    </section>
                </div>
                <div class="copyright">
                    &copy; Clothes to You <a>國立臺灣科技大學</a>, 資訊管理系 <br>
                    &copy; 模板來源 <a href = "https://templated.co/">templated.co</a>
                </div>
            </div>
        </footer>
        <!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    </body>
</html>